<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/jdbc
	http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="false">

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.maxIdle}" />
		<property name="maxTotal" value="${redis.maxActive}" />
		<property name="testOnBorrow" value="${redis.testOnBorrow}" />
		<property name="testOnReturn" value="${redis.testOnReturn}" />
	</bean>

	<bean id="hadesClient" class="com.eif.framework.cache.HadesClient">
		<constructor-arg index="0">
			<value>${hades.zkAddr}</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>${hades.zkSessionTimeoutMs}</value>
		</constructor-arg>
		<constructor-arg index="2">
			<value>${hades.zkPath}</value>
		</constructor-arg>
		<constructor-arg index="3" ref="jedisPoolConfig" />
		<constructor-arg index="4">
			<value>${hades.keyPrefix}</value>
		</constructor-arg>
	</bean>

	<bean id="hadesClientInterceptor" class="com.eif.framework.log.client.cache.HadesInterceptor"></bean>
	<bean
			class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>hadesClient</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>hadesClientInterceptor</value>
			</list>
		</property>
	</bean>
</beans>