<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eif.ftc.dal.dao.FundPersonalRedeemDailyVolMapper">
  <resultMap id="BaseResultMap" type="com.eif.ftc.dal.model.FundPersonalRedeemDailyVol">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_no" jdbcType="CHAR" property="memberNo" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="shares" jdbcType="DECIMAL" property="shares" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, member_no, product_id, amount, shares, record_time
  </sql>
    <update id="updateAmountForLimitation">
            UPDATE t_ftc_fund_personal_redeem_daily_vol
            SET amount=amount+#{amount,jdbcType=DECIMAL}, record_time=#{dailyDate,jdbcType=TIMESTAMP}
            WHERE amount+#{amount,jdbcType=DECIMAL} <![CDATA[ <= ]]> #{perUdsLimitAmt,jdbcType=DECIMAL}
            AND member_no=#{memberNo,jdbcType=CHAR}
            AND product_id=#{productId,jdbcType=BIGINT}
            AND record_time=#{dailyDate,jdbcType=TIMESTAMP}
    </update>
    <update id="updateSharesForLimitation">
            UPDATE t_ftc_fund_personal_redeem_daily_vol
            SET shares=shares+#{shares,jdbcType=DECIMAL}, record_time=#{dailyDate,jdbcType=TIMESTAMP}
            WHERE shares+#{shares,jdbcType=DECIMAL} <![CDATA[ <= ]]> #{perUdsLimitAmt,jdbcType=DECIMAL}
            AND member_no=#{memberNo,jdbcType=CHAR}
            AND product_id=#{productId,jdbcType=BIGINT}
            AND record_time=#{dailyDate,jdbcType=TIMESTAMP}
    </update>
    <update id="deductShares">
        UPDATE t_ftc_fund_personal_redeem_daily_vol
        SET shares = shares - #{fundTransShares, jdbcType=DECIMAL}
        WHERE member_no =#{memberNo,jdbcType=CHAR}
        AND product_id =#{productId,jdbcType=BIGINT}
        AND record_time=#{dailyDate,jdbcType=TIMESTAMP}
    </update>
    <update id="deductAmount">
        UPDATE t_ftc_fund_personal_redeem_daily_vol
        SET amount = amount - #{fundTransAmount,jdbcType=DECIMAL}
        WHERE product_id =#{productId,jdbcType=BIGINT}
        AND member_no =#{memberNo,jdbcType=CHAR}
        AND record_time=#{dailyDate,jdbcType=TIMESTAMP}
    </update>
    <insert id="insertAmount">
        INSERT IGNORE INTO t_ftc_fund_personal_redeem_daily_vol (member_no,
        product_id, amount, record_time)
        VALUES (#{memberNo, jdbcType=CHAR}, #{productId,jdbcType=BIGINT},
        #{fundTransAmount,jdbcType=DECIMAL},
        #{dailyDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertShares">
        INSERT IGNORE INTO t_ftc_fund_personal_redeem_daily_vol (member_no,
        product_id, shares, record_time)
        VALUES (#{memberNo, jdbcType=CHAR}, #{productId,jdbcType=BIGINT},
        #{fundTransShares,jdbcType=DECIMAL},
        #{dailyDate,jdbcType=TIMESTAMP})
    </insert>
</mapper>