<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eif.ftc.dal.dao.FundTotalMapper">
  <resultMap id="BaseResultMap" type="com.eif.ftc.dal.model.FundTotal">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="fund_total_uuid" jdbcType="CHAR" property="fundTotalUuid" />
    <result column="member_asset_id" jdbcType="BIGINT" property="memberAssetId" />
    <result column="member_asset_uuid" jdbcType="CHAR" property="memberAssetUuid" />
    <result column="fund_acc_id" jdbcType="BIGINT" property="fundAccId" />
    <result column="fund_acc_uuid" jdbcType="CHAR" property="fundAccUuid" />
    <result column="total_asset" jdbcType="DECIMAL" property="totalAsset" />
    <result column="yesterday_profit" jdbcType="DECIMAL" property="yesterdayProfit" />
    <result column="total_profit" jdbcType="DECIMAL" property="totalProfit" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="frozen_amount" jdbcType="DECIMAL" property="frozenAmount" />
    <result column="frozen_share" jdbcType="DECIMAL" property="frozenShare" />
    <result column="confirmed_add_amount" jdbcType="DECIMAL" property="confirmedAddAmount" />
    <result column="confirmed_add_share" jdbcType="DECIMAL" property="confirmedAddShare" />
    <result column="unconfirmed_add_amount" jdbcType="DECIMAL" property="unconfirmedAddAmount" />
    <result column="unconfirmed_add_share" jdbcType="DECIMAL" property="unconfirmedAddShare" />
    <result column="confirmed_sub_amount" jdbcType="DECIMAL" property="confirmedSubAmount" />
    <result column="confirmed_sub_share" jdbcType="DECIMAL" property="confirmedSubShare" />
    <result column="unconfirmed_sub_amount" jdbcType="DECIMAL" property="unconfirmedSubAmount" />
    <result column="unconfirmed_sub_share" jdbcType="DECIMAL" property="unconfirmedSubShare" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, fund_total_uuid, member_asset_id, member_asset_uuid, fund_acc_id, fund_acc_uuid, 
    total_asset, yesterday_profit, total_profit, create_time, update_time, frozen_amount, 
    frozen_share, confirmed_add_amount, confirmed_add_share, unconfirmed_add_amount, 
    unconfirmed_add_share, confirmed_sub_amount, confirmed_sub_share, unconfirmed_sub_amount, 
    unconfirmed_sub_share
  </sql>
  <select id="selectByFundAccountNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_amc_fund_total
    where fund_acc_uuid = #{fundAccountNo,jdbcType=CHAR}
    for update
  </select>
  <select id="selectByFundTotalUUID" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_amc_fund_total
    where fund_total_uuid = #{fundTotalUUID,jdbcType=CHAR}
    for update
  </select>
  <select id="selectInfoByFundAccountNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_amc_fund_total
    where fund_acc_uuid = #{fundAccountNo,jdbcType=CHAR}
  </select>
  <select id="selectInfoByFundTotalUUID" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_amc_fund_total
    where fund_total_uuid = #{fundTotalUUID,jdbcType=CHAR}
  </select>


  <update id="updateFundTotalBySubscriptionConfirm" parameterType="java.util.List">
    <foreach close="" collection="fundTotalUpdateBeanList" index="index" item="record" open="" separator=";">
      update t_amc_fund_total
      <set>
        unconfirmed_add_amount = unconfirmed_add_amount - #{record.amount, jdbcType=DECIMAL},
        confirmed_add_amount =  confirmed_add_amount + #{record.amount, jdbcType=DECIMAL},
        update_time = now()
      </set>
      where fund_total_uuid = #{record.fundTotalUUID,jdbcType=CHAR}
    </foreach>
  </update>

  <update id="updateFundTotalByPurchaseConfirm" parameterType="java.util.List">
    <foreach close="" collection="fundTotalUpdateBeanList" index="index" item="record" open="" separator=";">
      update t_amc_fund_total
      <set>
        unconfirmed_add_amount = unconfirmed_add_amount - #{record.amount, jdbcType=DECIMAL},
        confirmed_add_amount =  confirmed_add_amount + #{record.amount, jdbcType=DECIMAL},
        update_time = now()
      </set>
      where fund_total_uuid = #{record.fundTotalUUID,jdbcType=CHAR}
    </foreach>
  </update>


  <update id="updateFundTotalByRedemptionConfirm" parameterType="java.util.List">
    <foreach close="" collection="fundTotalUpdateBeanList" index="index" item="record" open="" separator=";">
      update t_amc_fund_total
      <set>
        unconfirmed_sub_amount = unconfirmed_sub_amount - #{record.amount, jdbcType=DECIMAL},
        confirmed_sub_amount =  confirmed_sub_amount + #{record.amount, jdbcType=DECIMAL},
        total_asset = total_asset - #{record.amount, jdbcType=DECIMAL},
        update_time = now()
      </set>
      where fund_total_uuid = #{record.fundTotalUUID,jdbcType=CHAR}
    </foreach>
  </update>

    <update id="updateFundTotalByRedemption" parameterType="java.util.List">
      <foreach close="" collection="redemptionRecord" index="index" item="record" open="" separator=";">
        update t_amc_fund_total
        <set>
          unconfirmed_sub_amount = unconfirmed_sub_amount + #{record.amount, jdbcType=DECIMAL},
          confirmed_add_amount =  confirmed_add_amount - #{record.amount, jdbcType=DECIMAL},
          update_time = now()
        </set>
        where fund_total_uuid = #{record.fundTotalUUID,jdbcType=CHAR}
      </foreach>
    </update>


  <update id="updateFundTotalByHalfOpenRedeemConfirm" parameterType="java.util.List">
    <foreach close="" collection="fundUpdateBeanList" index="index" item="record" open="" separator=";">
      update t_amc_fund_total
      <set>
        unconfirmed_sub_amount = unconfirmed_sub_amount - #{record.capital, jdbcType=DECIMAL},
        confirmed_sub_amount =  confirmed_sub_amount + #{record.capital, jdbcType=DECIMAL},
        update_time = now()
      </set>
      where fund_total_uuid = #{record.uuid,jdbcType=CHAR}
    </foreach>
  </update>

</mapper>