<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eif.ftc.dal.dao.FundProfitAlterationMapper">
  <resultMap id="BaseResultMap" type="com.eif.ftc.dal.model.FundProfitAlteration">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="profit_alteration_uuid" jdbcType="CHAR" property="profitAlterationUuid" />
    <result column="fund_detail_id" jdbcType="BIGINT" property="fundDetailId" />
    <result column="fund_detail_uuid" jdbcType="CHAR" property="fundDetailUuid" />
    <result column="fund_total_id" jdbcType="BIGINT" property="fundTotalId" />
    <result column="fund_total_uuid" jdbcType="CHAR" property="fundTotalUuid" />
    <result column="profit_amount" jdbcType="DECIMAL" property="profitAmount" />
    <result column="ftc_order_no" jdbcType="CHAR" property="ftcOrderNo" />
    <result column="profit_add_time" jdbcType="TIMESTAMP" property="profitAddTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="profit_type" jdbcType="INTEGER" property="profitType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, profit_alteration_uuid, fund_detail_id, fund_detail_uuid, fund_total_id, fund_total_uuid, 
    profit_amount, ftc_order_no, profit_add_time, create_time, update_time, profit_type
  </sql>

  <select id="selectProfitListByFundTotalUUID" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_amc_fund_profit_alteration
    where fund_total_uuid = #{fundTotalUUID,jdbcType=CHAR}
    and create_time <![CDATA[ >= ]]> #{beginDate,jdbcType=TIMESTAMP}
    and create_time <![CDATA[ < ]]> #{endDate,jdbcType=TIMESTAMP}

  </select>
  <select id="selectProfitListByDetailUUID" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_amc_fund_profit_alteration
    where fund_detail_uuid = #{fundDetailUUID,jdbcType=CHAR}
    and create_time <![CDATA[ >= ]]> #{beginDate,jdbcType=TIMESTAMP}
    and create_time <![CDATA[ < ]]> #{endDate,jdbcType=TIMESTAMP}
  </select>
</mapper>